@model IEnumerable<MvcETicaret.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}
<div class=" container">
 <div class="row">
     <div class="col-md-3">
     <div class="card">
         <ul class="list-group">
             <li class="list-group-item active" aria-current="true">An active item</li>
             <li class="list-group-item">A second item</li>
             <li class="list-group-item">A third item</li>
             <li class="list-group-item">A fourth item</li>
             <li class="list-group-item">And a fifth one</li>
         </ul>
     </div>
     </div>
     @foreach(var item in Model)
            {
     <div class="col-md-3">
     <div class="card" >
         <div class="card-header">
             @item.Title
         </div>
         <img src="@item.Image" class="card-img-top" alt="..." style="height:200px">
         <div class="card-body">
             <p class="card-text">@item.Description</p>
         </div>
         <div class="card-footer">
             <label style="font-size:20px;color:crimson"><b>@item.Price.ToString("0.00") ₺</b></label>
             <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-outline-info"style="float:right">Detay</a>
         </div>
     </div>
 </div>
            }
 </div>
</div>